<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebserviceURL" value="http://216.185.100.204/crsapi/Service.svc/APITripsSummary?AgentID=2707" />
    <add key="ConnStr" value="Data Source=gdsdb;Initial Catalog=GDS;User ID=agn;Password=t0w3r47556br!dg3;Max Pool Size=300"/>

    <add key="ProcessKillTime" value="12" />
    <add key="ThreadKillTime" value="10" />

  </appSettings>
</configuration>